@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


.cursor-glow {
  position: fixed;
  width: 100px; /* Size of the cursor glow */
  height: 100px; /* Size of the cursor glow */
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3); /* Adjust opacity */
  pointer-events: none;
  z-index: 999999;
  transition: transform 0.1s;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.3);
}

.transition-transform {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}
.hover\:shadow-xl:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}



* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

